.header{
    background: url(../../assets/img-solutions1.jpg);
    background-position: center;
    background-size: cover;
    padding: 5vh 10vw;
}
.header img{
    height: 13vh;
    width: auto;
}



section.post{
    padding: 10vh 10vw;
}
section.post h1{
    font: 700 1.5rem 'Poppins';
    color: black;
}
section.post h2{
    font: 700 1.2rem 'Poppins';
    color: black;
    margin-top: 1rem;
}
section.post p{
    font: 400 1rem 'Poppins';
    color: black;
    margin-top: 1rem;
}



div.buttons{
    padding: 0 10vw 10vh;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
div.buttons a{
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    font: 400 1rem 'Poppins';
    color: white;
    background-color: #03311C;
}
div.buttons a:hover{
    background-color: #3D7D37;
    transition: all 300ms;
}



div.formBackground{
    position: fixed;
    left: 0;
    top: -1vh;
    width: 100vw;
    height: 102vh;
    background-color: rgba(0, 0, 0, 0.74);
    z-index: 2;
}

/*============================================================================*/

@media screen and (min-width: 1280px){
    .header{
        padding: 5vh 15vw;
    }
    .header img{
        width: 10rem;
    }



    section.post{
        padding-inline: 15vw;
    }
    section.post h1{
        font-size: 2rem;
    }
    section.post h2{
        font-size: 1.5rem;
    }

    div.buttons{
        padding: 0;
        position: fixed;
        top: 50%;
        right: 1vw;
        transform: translateY(-40%);
    }
    div.buttons a{
        width: 100%;
        font: 400 0.8rem 'Poppins';
    }
}