section.faq{
    padding: 25vh 10vw 5vh;
}
section.faq header{
    position: absolute;
    top: -2px;
    left: 0;
    width: 100vw;
    height: 15vh;
    display: flex;
    padding-inline: 10vw;
    align-items: center;
    justify-content: space-between;
    background: url(../../assets/img-solutions1.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.26);
}
section.faq header nav{
    display: none;
    gap: 1rem;
    align-items: center;
}
section.faq header nav a{
    color: white;
    font: 500 0.8rem 'Poppins';
}
section.faq header nav a:hover{
    color: #3D7D37;
}
section.faq img.logo{
    width: 8rem;
    height: auto;
    padding: 1rem;
    border-radius: 10px;
}
section.faq div.section{
    margin-top: 5vh;
    margin-bottom: 15vh;
}
section.faq h1{
    font: 700 1.5rem 'Poppins';
}
section.faq h2{
    font: 700 1.5rem 'Poppins';
}
section.faq p.paragraph{
    font: 400 1rem 'Poppins';
    margin-top: 1rem;
}
section.faq iframe.video{
    margin-top: 4rem;
    border-radius: 20px;
    width: 80vw;
    height: 30vh;
    display: block;
    margin-inline: auto;
}
section.faq div.questions{
    margin-top: 4rem;
}
section.faq div.questions details{
    margin-top: 2rem;
    border-bottom: 1px solid black;
    padding-bottom: 2rem;
    text-align: left;
}
section.faq div.questions details summary{
    font: 700 1rem 'Poppins';
    display: flex;
    justify-content: space-between;
    text-align: left;
}
section.faq div.questions details p{
    font: 400 1rem 'Poppins';
    color: black;
    margin-top: 1rem;
}
section.faq div.questions details p span.bold{
    font-weight: 700;
}
section.faq div.questions details summary::marker{
    content: "";
    font-size: 0;
    color: transparent;
    opacity: 0;
}
section.faq div.questions details summary span::after{
    content: '+';
}
section.faq div.questions details[open] summary span::after{
    content: "-";
}
section.faq div.questions details summary::-webkit-details-marker {
    display: none;
}

section.faq div.buttons{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
 }
section.faq div.buttons a{
    font: 400 0.8rem 'Poppins';
    background-color: #03311C;
    color: white;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
}
section.faq div.buttons a:hover{
    background-color: #3D7D37;
    transition: all 300ms;
}



div.formBackground{
    position: fixed;
    left: 0;
    top: -1vh;
    width: 100vw;
    height: 102vh;
    background-color: rgba(0, 0, 0, 0.74);
    z-index: 2;
}

@media screen and (min-width: 1280px){
    section.faq{
        padding-inline: 15vw;
    }
    section.faq header{
        padding-inline: 15vw;
    }
    section.faq header nav{
        display: flex;
    }
    section.faq iframe.video{
        width: 100%;
        height: 60vh;
    }
    section.faq div.buttons{
        position: fixed;
        top: 50%;
        right: 1vw;
        transform: translateY(-40%);
     }
}